body {
    background: #001B35;
    margin: 0;
    padding: 0;
  }
  header {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 96px;
  }
  .header-icon {
    height: 50px;
  }
  .Header-Title {
    font-weight: 900;
    font-size: 16px;
    margin-right: 48px;
  }
  ul {
    list-style-type: none;
    display: flex;
    gap: 32px;
  }
  .Header-UL {
    font-size: 12px;
  }
  .Header-Link li {
    display: inline;
  }